In [1]:
import re
import numpy
import random
import pandas as pd
from collections import Counter
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.linear_model import Ridge

In [8]:
dataset = pd.read_csv("../data/hackernews.csv", 
                   encoding = "ISO-8859-1", 
                   names=['id', 'created_at', 'created_at_i', 'author', 'points', 'url_hostname', 'num_comments', 'title'])

In [9]:
dataset.head()

,id,created_at,created_at_i,author,points,url_hostname,num_comments,title
0,9079978,2015-02-20T11:29:58.000Z,1424431798,Immortalin,2,NaN,0,Ask HN: Simple SaaS as first Golang web app?
1,9079983,2015-02-20T11:34:22.000Z,1424432062,Rutger24s,1,startupjuncture.com,0,24sessions: live business advice over video-chat
2,9079986,2015-02-20T11:35:32.000Z,1424432132,AndrewDucker,3,blog.erratasec.com,0,Some notes on SuperFish
3,9079988,2015-02-20T11:36:18.000Z,1424432178,davidiach,1,twitter.com,0,Apple Watch models could contain 29.16g of gold
4,9080000,2015-02-20T11:41:06.000Z,1424432466,CiaranR,1,phpconference.co.uk,0,PHP UK Conference Diversity Scholarship Programme

In [10]:
dataset.drop(['id', 'created_at_i', 'author', 'num_comments'],inplace=True,axis=1)

In [11]:
dataset.head()

,created_at,points,url_hostname,title
0,2015-02-20T11:29:58.000Z,2,NaN,Ask HN: Simple SaaS as first Golang web app?
1,2015-02-20T11:34:22.000Z,1,startupjuncture.com,24sessions: live business advice over video-chat
2,2015-02-20T11:35:32.000Z,3,blog.erratasec.com,Some notes on SuperFish
3,2015-02-20T11:36:18.000Z,1,twitter.com,Apple Watch models could contain 29.16g of gold
4,2015-02-20T11:41:06.000Z,1,phpconference.co.uk,PHP UK Conference Diversity Scholarship Programme

In [12]:
dataset.rename(columns={'created_at': 'submission_time', 'url_hostname': 'url', 'points': 'upvotes', 'title': 'headline'}, inplace=True)

In [14]:
dataset.to_csv('../data/pre_process_hn.csv')