In [1]:
import numpy as np
import pandas as pd
from numpy import linalg
from numpy.linalg import norm
from scipy.spatial.distance import squareform, pdist

import sklearn
from sklearn.manifold import TSNE
from sklearn.preprocessing import scale

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
sns.set_style('darkgrid')
sns.set_palette('muted')
sns.set_context("notebook", font_scale=1.5,
                rc={"lines.linewidth": 2.5})

In [14]:
df = pd.read_csv("input/Pokemon.csv").drop('Type 2', axis=1)
columns = df.columns.tolist()
columns[0] = 'id'
df.columns = columns
df.head()

,id,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,309,39,52,43,60,50,65,1,False

In [15]:
df['TypeId'] = df['Type 1'].rank(method='dense').astype(int)

In [16]:
df.head()

,id,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,TypeId
0,1,Bulbasaur,Grass,318,45,49,49,65,65,45,1,False,10
1,2,Ivysaur,Grass,405,60,62,63,80,80,60,1,False,10
2,3,Venusaur,Grass,525,80,82,83,100,100,80,1,False,10
3,3,VenusaurMega Venusaur,Grass,625,80,100,123,122,120,80,1,False,10
4,4,Charmander,Fire,309,39,52,43,60,50,65,1,False,7

In [9]:
from sklearn.preprocessing import StandardScaler
features = ['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 
            'Legendary']
targets  = ['TypeId']
df_norm = df.copy()
df_norm[features] = StandardScaler().fit(df[features]).transform(df[features])

In [10]:
X_tsne = TSNE(learning_rate=500, n_components=2).fit_transform(df_norm[features])

In [11]:
X_tsne

array([[ -2.12592431,  -9.13082532],
       [ -1.15790303,  -4.62056611],
       [ -7.27052162,   2.58670264],
       ...,
       [  9.57974596,  14.09865383],
       [  9.86727096,  14.25130463],
       [  8.59730675,  14.76511621]])

In [12]:
def scatter(x, colors):
    # We choose a color palette with seaborn.
    palette = np.array(sns.color_palette("hls", 10))

    # We create a scatter plot.
    f = plt.figure(figsize=(8, 8))
    ax = plt.subplot(aspect='equal')
    sc = ax.scatter(x[:,0], x[:,1], lw=0, s=40,
                    c=palette[colors.astype(np.int)])
    plt.xlim(-25, 25)
    plt.ylim(-25, 25)
    ax.axis('off')
    ax.axis('tight')

    # We add the labels for each digit.
    txts = []
    for i in range(10):
        # Position of each label.
        xtext, ytext = np.median(x[colors == i, :], axis=0)
        txt = ax.text(xtext, ytext, str(i), fontsize=24)
        txt.set_path_effects([
            PathEffects.Stroke(linewidth=5, foreground="w"),
            PathEffects.Normal()])
        txts.append(txt)

    return f, ax, sc, txts

In [13]:
scatter(X_tsne, y)
plt.savefig('images/digits_tsne-generated.png', dpi=120)

NameError: name 'y' is not defined